.layout {
  display: grid;
  grid-template-columns: 20vw 60vw 20vw;   /* 좌1, 중1, 우1 */
  grid-template-rows: 5vh 15vh 60vh 20vh;  /* 상단1, 상단2, 중간, 하단1 */
  grid-template-areas:
    "top1 top1 top1"
    "top2 top2 top2"
    "left center right"
    "bottom bottom bottom";
  height: 100vh;
  width: 100vw;
}

.top1 { grid-area: top1; background: #222; color: #fff; display:flex; align-items:center; justify-content:center; }
.top2 { grid-area: top2; background: #333; }
.left { grid-area: left; background: #444; }
.center { grid-area: center; background: #555; }
.right { grid-area: right; background: #666; }
.bottom { grid-area: bottom; background: #777; }
